button{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid rgb(92, 28, 151);
    background-color: rgba(43, 7, 77, 0.171);
    padding: 10px;
    color: rgba(37, 22, 73, 0.822);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px;
}

input{
    border-radius: 15px;
    margin: 10px;
    border: 2px solid rgb(92, 28, 151);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.input-data{
    display: flex;
}

.task-item{
    justify-content: center;
    border-radius: 15px;
    border: 2px solid rgb(92, 28, 151);
    background-color: rgba(43, 7, 77, 0.171);
    padding: 10px;
    color: rgba(37, 22, 73, 0.822);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px;
}

.task-name{
    justify-content: center;
    padding: 10px;
    color: rgba(37, 22, 73, 0.822);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-controls{
    display: flex;
    justify-content: center;
}