.head-list{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid rgb(201, 160, 240);
    color: rgb(174, 238, 250);
    background-color: rgba(18, 3, 32, 0.171);
    font-size: 20px;
}

.area-list{
    display:flex;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
}