.presentation{
    background-color: rgba(7, 3, 48, 0.548);
    border: 2px solid rgba(7, 3, 48, 0.548);
    border-radius: 15px;
    padding: 40px;
    color: rgb(174, 238, 250);
    margin: 10px;
}

.presentation:hover{
    border: 2px solid rgb(201, 160, 240);
    transition-duration: 500ms;
}